[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/liboauthcpp"]
	path = external/liboauthcpp
	url = https://github.com/sirikata/liboauthcpp.git
[submodule "external/cpp-jwt"]
	path = external/cpp-jwt
	url = https://github.com/arun11299/cpp-jwt.git
[submodule "external/libneo4j-client"]
	path = external/libneo4j-client
	url = https://github.com/majensen/libneo4j-client.git
